{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<style>

    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }

</style>
<main role="main" class="container">

    <div class="starter-template ">

        <h1>Bootstrap starter template {{ 'My important post'|slug }}  </h1>


        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</main><!-- /.container -->


{% endblock %}