{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=latin-ext,vietnamese" rel="stylesheet">

    <title>
        {% block title %} {{ title }} {% endblock %}
    </title>
    <meta name="theme-color" content="#0e7abe">

    <link rel="stylesheet" href="stylesheets/core.css">


</head>


<body>

    <div class="wrapper">

        {% include "layouts/header.html" %}

        {% block content %}


        {% endblock %}


        {% include "layouts/footer.html" %}

    </div>

    {% block javascript %}

    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="javascripts/app.js"></script>


    <script src="js/swiper.min.js"></script>
    <script src="js/lazysizes.min.js"></script>

    <script src="js/custom.js"></script>


    {% endblock %}

</body>

</html>